<html style="background-color: coral;">

<head>

</head>

<body >
    <h1 align="center"><i>Les employés</i></h1>
    <div class="container" id="MonTableau" style="background-color: rgb(214, 183, 46);">
        <h2><i>Filtre</i></h2>
        <p>Taper le nom recherché dans le champs </p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr align="center">
                    <th scope="col">Noms </th>
                    <th scope="col">Prenoms</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr *ngFor="let Employes of listEmployes">
                    <td>{{Employes.nom}}</td>
                    <td>{{Employes.prenom}}</td>
                    <td>{{Employes.status}}</td>
                    <td align="center"><button type="button" class="btn btn-outline-danger"
                            (click)="SupprimerEmployes(Employes.idEmploye)">Supprimer</button>
                       
                        <a type="button" href="{{'http://localhost:4200/modifier-employes/'+Employes.idEmploye}}"
                            class="btn btn-outline-primary">Modifier</a>
                        
                    </td>
                   
                </tr>
            </tbody>
            <button type="button" class="btn btn-outline-info">
                <a class="nav-link" href="http://localhost:4200/employes">Ajouter un employé
                </a></button>
        </table>
    </div>

</body>

</html>