
<div class="container">
    <h5 align="left">Ajouter une table et son serveur</h5>
    <form>
        <tr>
            <div class="form-group row">
                <label for="nom" class="col-sm-5 col-form-label">Numero de table </label>
                <div class="col-sm-10">
                    <input type="text" name="numero" [(ngModel)]="newTable.numero" class="form-control"
                        id="iddate" style="background-color:rgb(205, 209, 233);">
                </div>
            </div>
            <div class="form-group row">
                <label for="nom" class="col-sm-5 col-form-label">Nombre de place</label>
                <div class="col-sm-10">
                    <input type="number" name="nbrePlace" [(ngModel)]="newTable.nbrePlace" class="form-control"
                        id="iddate" style="background-color:rgb(205, 209, 233);">
                </div>
            </div>
        </tr>
        <tr>
            <div class="form-group row">
                <label for="status" class="col-sm-5 col-form-label">Serveur Associé</label>
                <select class="form-control" name="Employes" [(ngModel)]="idemploye" id="idemploye" style="width : 250px;" style="background-color:rgb(205, 209, 233);">
                    <option *ngFor="let employe of listEmployes" [(ngValue)]="employe.idEmploye">{{employe.idEmploye}}</option>
                </select>
            </div>
        </tr>
        
            <button type="submit" class="btn btn-primary" (click)="AjouterTables()">Ajouter nouvelle table</button> 
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="col-sm-10">

</div>