<h2 align="center">Reservation</h2>
<div class="container">
    <form>
        <div class="form-group row">
            <label for="nom" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
                <input type="text" name="nom" [(ngModel)]="newResa.nom" class="form-control" id="idnom">
            </div>
        </div>
        <div class="form-group row">
            <label for="telephone" class="col-sm-2 col-form-label">Telephone</label>
            <div class="col-sm-10">
                <input type="text" name="telephone" [(ngModel)]="newResa.telephone" class="form-control" id="idtel">
            </div>
        </div>
        <div class="form-group row">
            <label for="nom" class="col-sm-2 col-form-label">Combien de personne</label>
            <div class="col-sm-10">
                <input type="number" name="nbrePersonne" [(ngModel)]="newResa.nbrePersonne" class="form-control" id="idbrep">
            </div>
        </div>
        <div class="form-group row">
            <label for="nom" class="col-sm-2 col-form-label">Date et heure</label>
            <div class="col-sm-10">
                <input type="date" name="dateDeResa" [(ngModel)]="newResa.dateDeResa" class="form-control" id="iddate">
            </div>
        </div>
        <div class="form-group row">
            <label for="nom" class="col-sm-2 col-form-label">Horaires<span style="color: red;"> *</span></label>
        <div style="padding-bottom: 18px;"class="col-sm-10" ><span style="color: red;"> </span><br/>
            <select id="data_8" name="horaire"  [(ngModel)]="newResa.horaire" style="width : 250px;" class="form-control" >
            <option>12:00</option>
            <option>12:30</option>
            <option>13:00</option>
            <option>13:30</option>
            <option>14:00</option>
            <option>14:30</option>
            <option>15:00</option>
            <option>15:30</option>
            <option>16:00</option>
            <option>16:30</option>
            <option>17:00</option>
            <option>17:30</option>
            <option>18:00</option>
            <option>18:30</option>
            <option>19:00</option>
            <option>19:30</option>
            <option>20:00</option>
            <option>20:30</option>
            <option>21:00</option>
            </select>
        </div>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary" (click)="ReserverTable()">Ajouter!</button>
        </div>
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="col-sm-10">
    
</div>