<html style="background-color: coral;">

<head>

</head>

<body style="background-color: rgb(255, 255, 255);">
    <h1 align="center">LISTE DES PLATS</h1>
    <div class="container" id="MonTableau">
        <h2>Filtre</h2>
        <p>Type something in the input field to search the table for first names, last names or emails:</p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr align="center">
                    <th scope="col">Libelle </th>                 
                    <th scope="col">Prix</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Categorie</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="myTable" align="center">
                <tr *ngFor="let Plats of ListePlats">
                    <td>{{Plats.libelle}}</td>
                    <td>{{Plats.prix}}</td>
                    <td>{{Plats.quantite}}</td>
                    <td>{{Plats.categorie}}</td>
                    <td align="center"><button type="button" class="btn btn-outline-danger"(click)="SupprimerPlats(Plats.idPlats)">Supprimer</button>                  
                    </td>
                  
                </tr>
            </tbody>
          
        </table>
        <button type="button" class="btn btn-outline-info">
            <a class="nav-link" href="http://localhost:4200/plats">Ajouter un nouveau plats
            </a></button>
    </div>
<br><br><br><br>
</body>

</html>